body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:10px;
  touch-action:none;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:4px;
  top:0px;
  width:30px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:44px;
  top:5px;
  width:46px;
  height:17px;
  font-size:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:104px;
  top:8px;
  width:71px;
  height:13px;
  font-size:10px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:91px;
  top:8px;
  width:10px;
  height:15px;
  opacity:0.200000002980232;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u8 {
  position:absolute;
  left:44px;
  top:35px;
  width:260px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:44px;
  top:144px;
  width:151px;
  height:17px;
  font-size:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:44px;
  top:165px;
  width:260px;
  height:54px;
  line-height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:54px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:4px;
  top:240px;
  width:300px;
  height:10px;
  opacity:0.200000002980232;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u15 {
  position:absolute;
  left:44px;
  top:223px;
  width:100px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:281px;
  top:2px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:254px;
  width:30px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:44px;
  top:260px;
  width:46px;
  height:17px;
  font-size:15px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:104px;
  top:263px;
  width:81px;
  height:13px;
  font-size:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:91px;
  top:263px;
  width:10px;
  height:15px;
  opacity:0.200000002980232;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u26 {
  position:absolute;
  left:40px;
  top:290px;
  width:260px;
  height:100px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:40px;
  top:420px;
  width:260px;
  height:90px;
  line-height:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:533px;
  width:300px;
  height:10px;
  opacity:0.200000002980232;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u31 {
  position:absolute;
  left:40px;
  top:515px;
  width:100px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:277px;
  top:256px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:4px;
  top:546px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:44px;
  top:553px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:121px;
  top:549px;
  width:11px;
  height:16px;
  font-size:10px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:44px;
  top:582px;
  width:260px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:44px;
  top:690px;
  width:136px;
  height:17px;
  font-size:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:44px;
  top:712px;
  width:260px;
  height:54px;
  line-height:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:54px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:4px;
  top:789px;
  width:300px;
  height:10px;
  opacity:0.200000002980232;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u48 {
  position:absolute;
  left:44px;
  top:771px;
  width:100px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:281px;
  top:548px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:40px;
  top:398px;
  width:151px;
  height:17px;
  font-size:15px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:0px;
  top:10px;
  width:330px;
  height:17px;
  opacity:0.5;
  font-size:15px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:17px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
