body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:165px;
  top:150px;
  width:325px;
  height:663px;
  color:#009DDA;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:663px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:188px;
  top:270px;
  width:278px;
  height:420px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:420px;
}
#u3 {
  position:absolute;
  left:188px;
  top:270px;
  width:278px;
  height:62px;
}
#u3_img {
  position:absolute;
  left:-15px;
  top:-15px;
  width:308px;
  height:92px;
}
#u4 {
  position:absolute;
  left:2px;
  top:23px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:189px;
  top:271px;
  width:91px;
  height:60px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:360px;
  top:0px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:60px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:120px;
  top:0px;
  width:60px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:180px;
  top:0px;
  width:60px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:240px;
  top:0px;
  width:60px;
  height:60px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:60px;
  height:60px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:120px;
  top:0px;
  width:60px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:180px;
  top:0px;
  width:60px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:240px;
  top:0px;
  width:60px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:300px;
  top:0px;
  width:60px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:93px;
  width:60px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:0px;
  top:93px;
  width:30px;
  height:25px;
  overflow:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:188px;
  top:271px;
  width:23px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:9px;
  width:19px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:441px;
  top:271px;
  width:23px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:9px;
  width:19px;
  word-wrap:break-word;
}
